.selected {
  box-shadow: 0 0px 15px #ff5860;
  border-radius: 20px;
}

.logo-nav {
  height: 100px;
  width: 150px;
  border-radius: 20px;
  box-shadow: 0 0px 15px #ff5860;
}

.customEditationFlex {
  display: flex;
  flex-direction: column;
  /* background-color:#343a40; */
}
.navbar-nav .dropdown-menu {
  background-color: #343a40;
}

a {
  color: #fff;
}
